node_modules
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
dist
uploads/*
!uploads/.gitkeep
!uploads/ads/
!uploads/ads/.gitkeep
!uploads/deals/
!uploads/deals/.gitkeep
!uploads/stores/
!uploads/stores/.gitkeep
